@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EBEBEB;
    color: #23272A;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #6D829C;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    font-size: 20px;
    color: #FFF;
}

#nav_menu {
    display: flex;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 20px;
    border-right: 2px solid white;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

#nav_logo {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 25px;
    border-right: 3px solid white;
    padding-right: 7px;
}

#wrapper {
    background-color: #F4F7FE;
    max-width: 1200px;
    min-height: calc(100vh - 110px);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

footer {
    max-width: 1200px;
    height: 50px;
    background-color: #171712;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FFF;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
}

#search_wrapper, #login_wrapper{
    display: inline-block;
    width: 100%;
}

#search_wrapper form, #login_wrapper form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
}

#location_box, #type_box {
    background-color: #3E413A;
    color: #FFF;
    font-weight: 700;
    border: none;
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    text-align-last: center;
}

#location_box option, #type_box option {
    background-color: #FFF;
    color: #000;
}

#login_form_email, #login_form_password {
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    border: 2px solid #576060;
}

#submit_button {
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    border: none;
    background-color: #92A1B5;
    color: #FFF;
    font-weight: 700;
}

#location_box:focus, #type_box:focus, #submit_button:focus {
    outline: 0;
}

/* product list */

.location-header {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin: 30px 0 10px 0;
}

.product-table {
    display: flex;
    justify-content: center;
}

.product-table table {
    width: 75%;
    background: #C2CBD6;
    margin: 15px 0 15px 0;
    padding: 15px;
    border-radius: 10px;
}

.product-table td, .product-table th {
    width: 15%;
    text-align: left;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-table th:nth-child(1), .product-table td:nth-child(1) {
    width: 55%;
}

#login_failed{
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    background-color: #F37468;
    text-align: center;
    margin: 20px auto 0 auto;
}

#delivery_controls{
    margin-bottom: 50px;
    text-align: center;
}

#delivery_controls #submit_button{
    margin: 30px 0 0 0;
}

#delivery_location_box, #delivery_product_box{
    background-color: #3E413A;
    color: #FFF;
    font-weight: 700;
    border: none;
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    text-align-last: center;
    margin: auto;
    display: block;
}

#delivery_location_box option, #delivery_product_box option {
    background-color: #FFF;
    color: #000;
}

#tool_delivery_wrapper{
    text-align: center;
}

.tool-delivery-box{
    width: 75%;
    background: #C2CBD6;
    margin: 15px auto 15px auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
}

.tool-delivery-box-name{
    width: 80%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tool-delivery-box-amount{
    width: 20%;
    text-align: right; 
}

.tool-delivery-box-amount input{
    width: 50px;
}
