@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EBEBEB;
    color: #23272A;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #6D829C;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    font-size: 20px;
    color: #FFF;
}

#nav_menu {
    display: flex;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 20px;
    border-right: 2px solid white;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

#nav_logo {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 25px;
    border-right: 3px solid white;
    padding-right: 7px;
}

#nav_logo a {
    color: white;
    text-decoration: none;
}

#wrapper {
    background-color: #F4F7FE;
    max-width: 1200px;
    min-height: calc(100vh - 110px);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

footer {
    max-width: 1200px;
    height: 50px;
    background-color: #171712;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FFF;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: 900;
}

#search_wrapper, #login_wrapper {
    display: inline-block;
    width: 100%;
}

#search_wrapper form, #login_wrapper form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
}

#location_box, #type_box {
    background-color: #3E413A;
    color: #FFF;
    font-weight: 700;
    border: none;
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    text-align-last: center;
}

#location_box option, #type_box option {
    background-color: #FFF;
    color: #000;
}

#login_form_email, #login_form_password {
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    border: 2px solid #576060;
}

#submit_button {
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    border: none;
    background-color: #92A1B5;
    color: #FFF;
    font-weight: 700;
}

#submit_button:hover {
    background-color: #8e9db3;
}

#submit_button:active {
    background-color: #7e8fa9;
}

#location_box:focus, #type_box:focus, #submit_button:focus, #delivery_order_location_box:focus, #delivery_order_product_box:focus {
    outline: 0;
}

/* product list */

.location-header {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin: 30px 0 10px 0;
}

.product-table {
    display: flex;
    text-align: center;
    font-size: 18px;
    width: 75%;
    background: #C2CBD6;
    margin: 15px auto 15px auto;
    padding: 15px;
    border-radius: 10px;
}

.product-table-name, .product-table-info{
    text-align: left;
    width: 50%;
}

.product-table table{
    display: inline-block;
    width: 100%;
    border-spacing: 0;
}

.product-table tbody{
    display: inline-block;
    width: 100%;
}

.product-table tr{
    display: inline-block;
    width: 100%;
}

.product-table th, .product-table td{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-table-name th, .product-table-name td{
    width: 100%;
}

.product-table-info th, .product-table-info td{
    width: 30%;
}

.low-stock td, .low-stock th {
    width: 20%;
    text-align: left;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.low-stock th:nth-child(1), .low-stock td:nth-child(1) {
    width: 55%;
}

#login_failed {
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    background-color: #F37468;
    text-align: center;
    margin: 20px auto 0 auto;
}

#delivery_order_controls {
    margin-bottom: 50px;
    text-align: center;
}

#delivery_order_controls #submit_button {
    margin: 30px 0 0 0;
}

#delivery_order_location_box, #delivery_order_product_box {
    background-color: #3E413A;
    color: #FFF;
    font-weight: 700;
    border: none;
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    text-align-last: center;
    margin: auto;
    display: block;
}

#delivery_order_location_box option, #delivery_order_product_box option {
    background-color: #FFF;
    color: #000;
}

#tool_delivery_order_wrapper {
    text-align: center;
}

.tool-delivery-order-box {
    width: 75%;
    background: #C2CBD6;
    margin: 15px auto 15px auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
}

.tool-delivery-order-box-name {
    width: 75%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.tool-delivery-order-box-amount {
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.tool-delivery-order-box-amount input {
    width: 50px;
}

.button {
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    border: none;
    background-color: #92A1B5;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color: #8e9db3;
}

.button:active {
    background-color: #7e8fa9;
}

.button:focus {
    outline: 0;
}

#product_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

#product_form input {
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    border: 2px solid #576060;
}

#product_form select {
    background-color: #3E413A;
    color: #FFF;
    font-weight: 700;
    border: none;
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    text-align-last: center;
}

#product_form option {
    background-color: #FFF;
    color: #000;
}

.tool-list-box, .location-list-box{
    width: 75%;
    background: #C2CBD6;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    height: 60px;
}

.tool-list-name, .location-list-name {
    width: 60%;
    overflow: hidden;
    display: inline-flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    align-items: center;
}

.tool-list-buttons, .location-list-buttons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.tool-list-buttons a, .location-list-buttons a {
    width: 100%;
    color: #23272A;
    text-decoration: none;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tool-list-buttons img, .location-list-buttons img {
    width: 35px;
}

#location_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

#location_form input {
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    border: 2px solid #576060;
}

#location_form select {
    background-color: #3E413A;
    color: #FFF;
    font-weight: 700;
    border: none;
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    text-align-last: center;
}

#location_form option {
    background-color: #FFF;
    color: #000;
}

.user-list-box {
    width: 75%;
    background: #C2CBD6;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    height: 60px;
}

.user-list-name {
    width: 70%;
    overflow: hidden;
    display: inline-flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    align-items: center;
}

.user-list-buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user-list-buttons a {
    width: 100%;
    color: #23272A;
    text-decoration: none;
    text-align: right;
}

#user_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

#user_form input {
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    border: 2px solid #576060;
}

#user_form select {
    background-color: #3E413A;
    color: #FFF;
    font-weight: 700;
    border: none;
    height: 40px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    font-size: 22px;
    text-align-last: center;
}

#user_form option {
    background-color: #FFF;
    color: #000;
}

@media only screen and (max-width: 750px) {
    .product-table{
        font-size: 16px;
        width: 85%;
        flex-direction: column;
    }

    .product-table-name, .product-table-info{
        width: 100%;
    }

    .button, #login_form_email, #login_form_password, #submit_button, #location_box, #type_box, #delivery_order_location_box, #delivery_order_product_box, #product_form input, #product_form select{
        width: 85%;
    }

    .tool-delivery-order-box, .tool-list-box{
        width: 85%;
        flex-direction: column;
    }

    .location-list-box{
        width: 85%;
    }

    .location-list-name, .location-list-buttons{
        width: 50%;
    }

    .tool-list-box{
        height: 90px;
        justify-content: space-between;
    }

    .tool-delivery-order-box-name, .tool-list-name{
        width: 100%;
    }

    .tool-delivery-order-box-amount, .tool-list-buttons{
        width: 100%;
    }
}

/* nav button responsiveness */
@media only screen and (max-width: 1050px) {
    nav{
       height: 270px; 
       justify-content: center;
       align-items: flex-start;
    }

    #wrapper {
        min-height: calc(100vh - 320px);
        margin-top: 270px;
    }

    #nav_logo{
        border-bottom: 3px solid white;
        border-right: none;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        padding: 16px;
    }
    
    #nav_menu{
        flex-direction: column;
        width: 100%;
    }

    #nav_account{
        display: none;
    }

    .menu-item{
        border-bottom: 2px solid white;
        border-right: none;
        margin-bottom: 10px;
        padding: 12px;
    }
}
